*{
	margin:0;
	padding:0;
	box-sizing: border-box;

}

body{
	position: relative;
	display:flex;
}

#div1{
	position: fixed;
	height:100vh;
	width:15%;
	background:#00cc66;
	padding: 90px 10px 20px 10px;
	text-align: center;
}

#div1 #logo{
    position: absolute;
    top: 20px;
    left: 12px;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    font-family: trebuchet ms;

}

#user_details{
	border: 3px solid #fff;
	padding: 10px 20px;
	border-radius: 8px;
	text-align: left;
	cursor: pointer;
	margin-bottom: 60px;
}

#user_details img{

	width: 23%;
	height: 23%;
	border-radius: 50%;
	position: relative;

}

#user_details h3{
	display: inline;
	color: #fff;
	font-family: trebuchet ms;
	font-size: 20px;
	position: relative;
	top: -12px;
	left: 2px;
}

#div1 ul{

	list-style-type: none;
	margin-top: 20px;

}

#div1 ul li{

	display: block;
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
}

#div1 ul li:last-of-type{

	margin-top: 30px;

}

#div1 ul li a{

	text-decoration: none;
	cursor: pointer;
	font-family: "comic sans ms", san serif;
	font-size: 20px;
	color: #ddd;
	transition: color .4s, font-size .6s;
}

#div1 ul li a.active, #div1 ul li a.active:hover{

    color: rgb(250,250,250);
	font-size: 26px;

}

#div1 ul li a:hover:not(.active){

	color: rgba(250,250,250, .7);
	font-size: 24px;
}
